---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
 {
    date: "May 2023 - Present",
    title: "AI Developer",
    company: "Menhir",
    description:
      "Design, development, and optimization of machine learning models for major banks, focusing on credit recovery and risk assessment.",
  },
  {
    date: "October 2021 - May 2023",
    title: "Machine Learning Engineer",
    company: "ISGF",
    description:
      "Maintained and scaled a production pipeline with over 100 machine learning models for financial scoring and responsible for maintaining HPC environments.",
  },
  {
    date: "February 2021 - July 2021",
    title: "Master Thesis Intern",
    company: "Gofore",
    description:
      "Built an assistive AI system for visually impaired individuals using YOLO and computer vision. Worked on Raspberry Pi with Python, PyTorch, and OpenCV.",
  },
];

---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
